<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>With</title>
</head>

<body>
    <h1>Name : {{.Name}}</h1>


    <address>
        Address Street : {{.Address.Street}}
    </address>
    <address>
        Address City : {{.Address.City}}
    </address>
</body>

</html>
